<!-- cheat_sheet.html -->

<form method="post" action="{% url 'cheat_sheet' %}">
    {% csrf_token %}
    
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" >
    
    <label for="isbn">ISBN:</label>
    <input type="text" id="isbn" name="isbn" value="{{ default_isbn}}">
    
    <label for="wholesaler">Wholesaler:</label>
    <input type="text" id="wholesaler" name="wholesaler">
    
    <label for="invoice_number">Invoice Number:</label>
    <input type="text" id="invoice_number" name="invoice_number">
    
    <label for="start_date">Start Date:</label>
    <input type="text" id="start_date" name="start_date" value="{{ start_date }}">
  
    <label for="end_date">End Date:</label>
    <input type="text" id="end_date" name="end_date" value="{{ end_date }}">
    
    <button type="submit">Submit</button>
  </form>
  
  
    <h2>Item Info:</h2>
    <ul>
    
    {% for key, value in data.items %}

      <li>{{ key|title }}: 

        {% if value|floatformat %}
            {{ value|floatformat:2 }}
          {% else %}
            {{ value }}
          {% endif %}

    {% endfor %}
 

